name: Run Tests

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch hatch-vcs
    - name: Run tests
      run: hatch run tests
    - if: matrix.python-version == '3.7'
      name: Check works with min requirements
      run: hatch run test_min:pytest tests
    - if: matrix.python-version == '3.9'
      name: Lint
      run: hatch run lint:check
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.10
      with:
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
